

  


/* Estilos padrão para tela grande */
.imagem {
  float: left;
  margin-right: 20px;
}

.detalhes {
  overflow: hidden;
}

.texto {
  margin-bottom: 10px;
}

.btnSalvar, .btnDesfavoritar, .btnFechar {
  display: inline-block;
  margin-right: 10px;
}

#btnSalvar,
#btnDesfavoritar,
#btnFechar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#btnSalvar:hover,
#btnDesfavoritar:hover,
#btnFechar:hover {
  background-color: #555;
}


@media (max-width: 767px) {
  
  .principal{
      
  }


  .detalhes {
    margin-top: 0;
  }

  .img {
    text-align:center
  }
  
  .imagem {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .btnSalvar, .btnDesfavoritar, .btnFechar {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}


 
